# Ignore external libraries from statistics
src/UI/Content/Styles/templateStyle* linguist-vendored
src/UI/Content/Scripts/jquery.gallery.js linguist-vendored
src/UI/Content/Scripts/modernizr.custom.53451.js linguist-vendored
