# Ignore external libraries from statistics
src/MusicLibrary/wwwroot/Content/Styles/templateStyle* linguist-vendored
src/MusicLibrary/wwwroot/Content/Scripts/jquery.gallery.js linguist-vendored
src/MusicLibrary/wwwroot/Content/Scripts/modernizr.custom.53451.js linguist-vendored
