/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* start editing from here */
a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
}
/* text align right */
.txt-lt {
  text-align: left;
}
/* text align left */
.txt-center {
  text-align: center;
}
/* text align center */
.float-rt {
  float: right;
}
/* float right */
.float-lt {
  float: left;
}
/* float left */
.clear {
  clear: both;
}
/* clear float */
.pos-relative {
  position: relative;
}
/* Position Relative */
.pos-absolute {
  position: absolute;
}
/* Position Absolute */
.vertical-base {
  vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
  vertical-align: top;
}
/* vertical align top */
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}
/* Add 5px bottom padding and a underline */
nav.vertical ul li {
  display: block;
}
/* vertical menu */
nav.horizontal ul li {
  display: inline-block;
}
/* horizontal menu */
img {
  max-width: 100%;
}
/*end reset*/
body {
  font-family: "arial", verdana Helvetica, sans-serif;
  background-color: #e0e0e0;
}
.wrap {
  width: 80%;
  margin: 0 auto;
}
/*menu-bg*/
.menu-bg,
.footer-bg {
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 25%, #222222 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #333333), color-stop(100%, #222222));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 25%, #222222 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 25%, #222222 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 25%, #222222 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #333333 25%, #222222 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  /* IE6-9 */
}
.menu {
  float: left;
}
.nav {
  clear: both;
  font-size: 12px;
  padding: 0px;
  position: relative;
  z-index: 999;
}
.nav li:nth-child(1) {
  border-left: 1px ridge #444444;
}
.nav li {
  float: left;
  position: relative;
  border-right: 1px ridge #444444;
}
.nav li.active {
  background: url('../Images/nav-bg.png');
}
.nav li a {
  letter-spacing: 1px;
  font-family: 'Roboto Condensed';
  color: #FFFFFF;
  font-size: 1.24em;
  display: block;
  float: left;
  font-weight: normal;
  padding: 18px 20px;
  position: relative;
  text-decoration: none;
}
.nav li:hover > a {
  color: #fefefe;
}
.nav li:hover,
.nav a:focus,
.nav a:hover,
.nav a:active {
  background: #029DA7;
  outline: 0 none;
}
/*---soc-icons---*/
.soc-icons {
  margin-top: 0.9%;
  float: right;
}
.soc-icons ul li {
  vertical-align: middle;
  display: inline-block;
}
.soc-icons ul li a {
  color: #fff;
  font-size: 1em;
  font-family: 'Roboto Condensed';
  display: block;
}
.soc-icons ul li a img:hover {
  opacity: 0.6;
}
/*header*/
.header-bg {
  background: url('../Images/header.png');
}
.logo {
  float: left;
}
.foot-search {
  float: right;
  width: 66%;
  margin-top: 2%;
}
.foot-search form {
  width: 100%;
}
.foot-search input[type="text"] {
  font-size: 12px;
  width: 36.33%;
  outline: none;
  padding: 10px;
  -webkit-appearance: none;
  border: 1px solid #cdcdd2;
  background: #f7f7f9;
  color: #b0b0b2;
}
.foot-search input[type="submit"],
.submit-button {
  font-family: 'Roboto Condensed';
  background: url('../Images/btn.png') repeat-x 0 0 #10696E;
  border: none;
  padding: 10px;
  color: #fff !important;
  cursor: pointer;
  font-size: 0.98em;
}
.foot-search input[type="submit"]:hover,
.submit-button:hover {
  background-position: 0 -32px;
  text-decoration: none !important;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}
.wrapper-dropdown.active .dropdown {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px;
  width: 95px;
  z-index: 1;
  background: #70389C;
}
/*slider*/
.slider-bg {
  background: #eaeaea;
  border-top: 1px solid #dfdfdf;
}
/*--Slider--*/
.container {
  margin-top: 6%;
}
.dg-container {
  width: 100%;
  height: 400px;
  position: relative;
}
.dg-wrapper {
  width: 490px;
  height: 326px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a {
  width: 490px;
  height: 326px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.dg-wrapper a.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img {
  display: block;
  padding: 5px;
  background-color: white;
}
.dg-wrapper a div {
  font-style: italic;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  color: #333;
  font-size: 16px;
  width: 100%;
  bottom: -55px;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div {
  display: block;
}
.dg-container nav {
  width: 58px;
  position: absolute;
  z-index: 1000;
  bottom: 40px;
  left: 50%;
  margin-left: -29px;
}
/*end slider*/
/*content*/
.content-bg {
  background: #e0e0e0;
  padding: 4% 0 2%;
}
.main {
  background: #ffffff;
  box-shadow: 0px 0px 6px #999;
}
.content {
  width: 74.33%;
  float: left;
  margin-right: 3.33%;
}
.sidebar {
  float: right;
  width: 21.33%;
}
/*  GRID OF THREE   ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.grid_1_of_3 {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.images_1_of_3 {
  width: 15.2%;
  padding: 1.5%;
}
.images_1_of_3 img,
.images_3_of_1 img,
.images_1_of_2 img,
.det-pic img,
.item img,
.grid-img1 img {
  cursor: pointer;
  background: #fff;
  padding: 4px;
  box-shadow: 0px 0px 10px #999;
  max-width: 100%;
  display: block;
}
.grid-img1 img {
  cursor: default;
}
.images_1_of_3 img:hover,
.images_3_of_1 img:hover,
.images_1_of_2 img:hover,
.det-pic img:hover,
.item img:hover {
  background: #24949b;
}
.images_1_of_3 h3,
.span_2_of_3 h3,
.det-para h3,
.images_1_of_2 h3,
.contact_info h3,
.company_address h3,
.span_2_of_4 h3,
.single h3 {
  color: #10696E;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  font-size: 1.1em;
  text-transform: uppercase;
}
.images_1_of_3 p,
.span_2_of_3 p,
.det-para p,
.images_1_of_2 p,
.single p {
  font-size: 0.8425em;
  padding: 0.2em 0 0.8em;
  color: #555;
  line-height: 1.8em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 90%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }
  .grid_1_of_3 {
    margin: 2% 0 2% 0%;
  }
  .images_1_of_3 {
    width: 94%;
    padding: 3%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .grid_1_of_3 {
    margin: 2% 0 2% 0%;
  }
  .images_1_of_3 {
    width: 92%;
    padding: 4%;
  }
}
/*content-style*/
.content h2 {
  background: #0ba3ad;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0ba3ad 0%, #0c9fa8 19%, #10696e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0ba3ad), color-stop(19%, #0c9fa8), color-stop(100%, #10696e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0ba3ad 0%, #0c9fa8 19%, #10696e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0ba3ad 0%, #0c9fa8 19%, #10696e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0ba3ad 0%, #0c9fa8 19%, #10696e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0ba3ad 0%, #0c9fa8 19%, #10696e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ba3ad', endColorstr='#10696e', GradientType=0);
  /* IE6-9 */
  padding: 1.5%;
  text-align: left;
  font-size: 1.8em;
  color: #fff;
  font-family: 'Roboto Condensed';
}
.content h2.bg,
.text-h1 h2 {
  background: #777777;
  /* Old browsers */
  background: -moz-linear-gradient(top, #777777 0%, #666666 66%, #555555 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(66%, #666666), color-stop(100%, #555555));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #777777 0%, #666666 66%, #555555 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #777777 0%, #666666 66%, #555555 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #777777 0%, #666666 66%, #555555 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #777777 0%, #666666 66%, #555555 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#555555', GradientType=0);
  /* IE6-9 */
}
.price {
  font-size: 1em;
  color: #444;
}
.price sub {
  font-size: 0.8em;
}
.btn {
  margin: 12% 0 6%;
}
.btn a,
.btn1 a,
.span_2_of_3 .button a,
.s-para .button a,
.images_1_of_2 .button a,
.contact-form input[type="submit"],
.det-para .button a {
  font-size: 0.84em;
  background: url('../Images/btn.png') repeat-x 0 0 #10696E;
  border: none;
  padding: 8px;
  color: #fff;
  cursor: pointer;
}
.btn a:hover,
.btn1 a:hover,
.span_2_of_3 .button a:hover,
.s-para .button a:hover,
.images_1_of_2 .button a:hover,
.contact-form input[type="submit"]:hover,
.det-para .button a:hover {
  background-position: 0 -32px;
  text-decoration: none !important;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}
/*sidebar*/
.sidebar h2 {
  margin: 3% 0;
  padding: 1.5%;
  text-align: left;
  font-size: 1.8em;
  color: #10696E;
  font-family: 'Roboto Condensed';
}
.sidebar-list ul {
  margin-top: 4%;
}
.sidebar-list ul li {
  display: inherit;
  line-height: 2.0em;
}
.sidebar-list ul li a {
  padding: 4px;
  display: block;
  font-size: 0.9em;
  color: #555;
  border-bottom: 1px solid #ededed;
}
.sidebar-list ul li a:hover {
  color: #10696E;
  background: #ebebeb;
}
/*footer-style*/
/*  GRID OF Four   ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.grid_1_of_4 {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.grid_1_of_4:first-child {
  margin-left: 0;
}
.images_1_of_4 {
  width: 20.8%;
  padding: 1.5%;
}
.images_1_of_4 p a img {
  float: left;
  margin-right: 4%;
  margin-top: 1.6%;
}
.images_1_of_4 h3 {
  padding: 1.5%;
  margin-bottom: 4%;
  text-align: left;
  font-size: 1.8em;
  color: #fff;
  font-family: 'Roboto Condensed';
}
.images_1_of_4 p {
  font-size: 0.8425em;
  color: rgba(219, 251, 255, 0.5);
  line-height: 1.8em;
}
.images_1_of_4 p a {
  font-size: 0.9em;
  color: rgba(219, 251, 255, 0.5);
  line-height: 1.6em;
  vertical-align: top;
}
.top {
  margin-top: 4%;
}
.f-nav li {
  display: inline;
}
.f-nav li img {
  margin-right: 8px;
  vertical-align: middle;
}
.f-nav li img:hover {
  opacity: 0.6;
}
.f-nav li a {
  display: block;
  font-size: 0.8425em;
  color: rgba(219, 251, 255, 0.5);
  line-height: 3.6em;
}
.f-nav li a:hover,
.images_1_of_4 p a:hover {
  color: #07868d;
  text-decoration: none;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 90%;
  }
  span.text {
    font-size: 0.9em;
  }
  .price {
    font-size: 0.9em;
  }
  .foot-search {
    width: 30%;
  }
  .shopping_cart {
    width: 24.33%;
  }
}
@media only screen and (max-width: 800px) {
  .wrap {
    width: 90%;
  }
  .foot-search {
    width: 30%;
  }
  .shopping_cart {
    width: 24.33%;
  }
  span.text {
    font-size: 0.9em;
  }
  .price {
    font-size: 0.9em;
  }
  .nav li a {
    padding: 18px 8px;
    font-size: 0.9em;
  }
  .soc-icons ul li a {
    font-size: 0.8em;
  }
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }
  .grid_1_of_4 {
    margin: 2% 0 2% 0%;
  }
  .images_1_of_4 {
    width: 94%;
    padding: 3%;
  }
  span.text {
    font-size: 0.9em;
  }
  .price {
    font-size: 0.9em;
  }
  .nav li:nth-child(2) {
    display: none;
  }
  .nav li a {
    padding: 18px 8px;
    font-size: 0.9em;
  }
  .soc-icons ul li a {
    font-size: 0.8em;
  }
  .foot-search {
    float: none;
    width: 100%;
  }
  .cart {
    float: none;
  }
  .shopping_cart {
    width: 100%;
    margin-top: 0;
  }
  .foot-search input[type="text"] {
    font-size: 12px;
    width: 76.33%;
  }
  .header {
    margin-top: -2%;
  }
  .content {
    float: none;
    width: 100%;
  }
  .sidebar {
    float: none;
    width: 100%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .grid_1_of_4 {
    margin: 2% 0 2% 0%;
  }
  .images_1_of_4 {
    width: 92%;
    padding: 4%;
  }
  span.text {
    font-size: 0.9em;
  }
  .price {
    font-size: 0.9em;
  }
  .nav li a {
    padding: 18px 8px;
    font-size: 0.9em;
  }
  .nav li:nth-child(3) {
    display: none;
  }
  .soc-icons ul li a {
    font-size: 0.8em;
  }
  .foot-search {
    float: none;
    width: 100%;
  }
  .cart {
    float: none;
  }
  .shopping_cart {
    width: 100%;
    margin-top: 0;
  }
  .foot-search input[type="text"] {
    font-size: 12px;
    width: 74.33%;
  }
  .header {
    margin-top: -2%;
  }
  .content {
    float: none;
    width: 100%;
  }
  .sidebar {
    float: none;
    width: 100%;
  }
  .images_1_of_4 p:nth-child(2) {
    display: none;
  }
}
/*footer1*/
.footer1-bg {
  background: #e0e0e0;
}
.copy {
  padding: 30px 0;
  text-align: center;
}
.copy p {
  font-size: 0.812em;
  color: black;
}
.copy p a {
  color: #10696E;
}
.copy p a:hover {
  text-decoration: underline;
}
/*specials*/
/*  GRID OF Content with Image   ============================================================================= */
.image {
  clear: both;
  padding: 0px;
  margin: 0px;
  padding: 1.5%;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.grid {
  display: block;
  float: left;
  margin: 0% 0 0% 1.6%;
}
.grid:first-child {
  margin-left: 0;
}
.images_3_of_1 {
  width: 158px;
}
.span_2_of_3 {
  width: 70%;
}
.images_3_of_1 img {
  max-width: 100%;
  display: block;
}
.span_2_of_3 h3 {
  margin-top: 0;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 90%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }
  .image {
    padding: 3%;
  }
  .grid {
    margin: 0;
  }
  .images_3_of_1 {
    width: 100%;
    padding: 2% 0 2% 0;
  }
  .span_2_of_3 {
    width: 100%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .image {
    padding: 4%;
  }
  .grid {
    margin: 0;
  }
  .images_3_of_1 {
    width: 100%;
    padding: 2% 0 2% 0;
  }
  .span_2_of_3 {
    width: 100%;
  }
}
/*music*/
.select {
  padding: 1.5%;
}
/*  GRID OF TWO   ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.grid_1_of_2 {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.grid_1_of_2:first-child {
  margin-left: 0;
}
.images_1_of_2 {
  width: 15.2%;
  padding: 1.5%;
}
.images_1_of_2 img {
  max-width: 100%;
}
.grid_1_of_2 .button {
  margin-top: 10%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 90%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }
  .grid_1_of_2 {
    margin: 2% 0 2% 0%;
  }
  .images_1_of_2 {
    width: 94%;
    padding: 3%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .images_1_of_2 h2 {
    color: #E26D2B;
  }
  .grid_1_of_2 {
    margin: 2% 0 2% 0%;
  }
  .images_1_of_2 {
    width: 92%;
    padding: 4%;
  }
}
/*contact*/
/*  Contact Form  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-top: 0;
  margin-left: 0;
}
.span_2_of_4 {
  width: 63.1%;
  padding: 0 1.5%;
}
.span_1_of_3 {
  width: 29.2%;
  padding: 1.5%;
}
.contact-form {
  position: relative;
  margin-top: 3%;
}
.contact-form div {
  padding: 5px 0;
}
.contact-form span {
  display: block;
  font-size: 0.8125em;
  padding-bottom: 5px;
  font-family: verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],
.contact-form textarea {
  padding: 8px;
  display: block;
  width: 98%;
  background: #f3f3f3;
  border: none;
  outline: none;
  color: #555;
  font-size: 0.8125em;
  box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
  -webkit-box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
  -moz-box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
  -o-box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
  -webkit-appearance: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.contact-form textarea {
  resize: none;
  height: 120px;
}
.contact-form input[type="submit"] {
  font-size: 1em;
  padding: 7px 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.company_address {
  padding-top: 0px;
}
.company_address h3 {
  margin-bottom: 2%;
}
.company_address p {
  font-size: 0.8425em;
  color: #555;
  line-height: 1.8em;
}
.company_address p span {
  text-decoration: underline;
  color: #555;
  cursor: pointer;
}
.company_address p span:hover {
  color: #10696E;
}
.map {
  border: 1px solid #C7C7C7;
  margin-top: 6%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 95%;
  }
  #nav li {
    width: 18.77%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
  .wrap {
    width: 95%;
  }
  .span_2_of_3 {
    width: 94%;
    padding: 3%;
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_3 {
    width: 94%;
    padding: 3%;
  }
  #nav li:nth-child(2) {
    display: none;
  }
  .soc-icons {
    margin-top: 0.6%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
  .wrap {
    width: 95%;
  }
  .span_2_of_3 {
    width: 94%;
    padding: 3%;
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_3 {
    width: 94%;
    padding: 3%;
  }
  .contact-form input[type="text"],
  .contact-form textarea {
    width: 97%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .span_2_of_3 {
    width: 90%;
    padding: 5%;
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_3 {
    width: 90%;
    padding: 5%;
  }
  .contact-form input[type="text"],
  .contact-form textarea {
    width: 92%;
  }
  #nav li a {
    font-size: 1em;
  }
  #nav li {
    width: 23.77%;
  }
  .soc-icons li:nth-child(3),
  .soc-icons li:nth-child(4) {
    display: none;
  }
  .soc-icons {
    margin-top: 0.6%;
  }
}
/*404*/
.page {
  text-align: center;
  padding-bottom: 3%;
}
.page h2 {
  font-family: 'Roboto Condensed';
  font-size: 10em;
  color: #10696E;
}
/*details*/
.single {
  padding: 3.5% 1.5% 0;
}
.grid-img1 {
  padding: 10px;
  border: 1px solid rgba(12, 111, 119, 0.18);
  float: left;
  margin-right: 4%;
}
.para {
  float: left;
  width: 71.33%;
}
.para h4 {
  font-size: 1.4em;
  color: #555;
}
.cart-b {
  margin: 3% 0;
  border-top: 1px solid rgba(85, 85, 85, 0.15);
  border-bottom: 1px solid rgba(85, 85, 85, 0.15);
}
.right {
  float: right;
}
.left {
  float: left;
  margin-top: 2%;
}
.btn1 {
  margin: 2% 0 2.4%;
}
/*details page slider*/
#mcts1 {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  /* Do not alter the below settings */
  white-space: nowrap;
  position: relative;
  font-size: 0px;
  overflow: hidden;
}
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item {
  padding: 12px;
  margin-right: 6px;
  /* this specifies the distance between each thumbnail */
  background-color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
}
#mcts1 img {
  border: none;
}