.logo-img {
  max-height: 150px !important;
  max-width: 150px !important;
}
.album-song-img {
  width: 25px;
}
.login-form {
  padding-top: 20px;
  width: 400px;
  margin: auto;
}
.login-form tr {
  line-height: 30px;
}
.login-form tr td {
  width: 250px;
}
.login-form tr td input[type=text],
.login-form tr td input[type=password],
.login-form tr td input[type=email] {
  padding: 4px;
  width: 100%;
}
.login-form tr td:first-child {
  width: 150px;
}
.submit-row td {
  padding-top: 10px;
}
.error-message {
  color: red;
}
.single h3 a {
  color: #10696e;
}
.collection-icon img {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}
.audio-player {
  width: 457px;
  outline: none;
}
span.stars,
span.stars span {
  display: inline-block;
  background: url(/Content/Images/stars.png) 0 -16px repeat-x;
  width: 80px;
}
span.stars span {
  background-position: 0 0;
}
.review ul,
.review-comment ul,
.admin-review ul {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
}
.review ul li,
.review-comment ul li,
.admin-review ul li {
  display: inline-block;
  height: 20px;
}
.review ul li span,
.review-comment ul li span,
.admin-review ul li span,
.review ul li a,
.review-comment ul li a,
.admin-review ul li a {
  font-size: 0.8425em;
  height: 16px;
}
.review ul li > span,
.review-comment ul li > span,
.admin-review ul li > span {
  border-left: 1px solid gray;
  padding-left: 5px;
}
.review ul li a,
.review-comment ul li a,
.admin-review ul li a {
  border-left: 1px solid gray;
  padding-left: 5px;
  color: black;
}
.review ul li:first-child > a,
.review-comment ul li:first-child > a,
.admin-review ul li:first-child > a {
  border-right: none;
}
.review ul li:first-child > span,
.review-comment ul li:first-child > span,
.admin-review ul li:first-child > span {
  border-left: none;
}
.review textarea,
.review-comment textarea,
.admin-review textarea {
  resize: vertical;
  width: 775px;
  height: 105px;
}
.review-comment li:last-child {
  float: right;
}
.review-comment li {
  padding-right: 5px;
}
.review-comment li .error-message {
  padding-left: 5px;
  border-right: none;
  border-left: 1px solid gray;
}
.review-comment input[type="button"] {
  padding: 5px;
}
.review-comment-add {
  margin: 20px 0px 20px 20px;
}
div .review-img {
  margin-right: 20px;
}
div .review-img img {
  height: 80px;
  width: 80px;
}
.comma:not(:first-child) {
  margin-left: -0.3em;
}
.comma:empty {
  display: none;
}
.comma:not(:first-child):before {
  content: ", ";
}
.admin-sidebar {
  float: left;
  text-align: center;
  width: 20%;
  min-width: 200px;
}
.admin-sidebar h2 {
  text-align: center;
}
.sidebar-active a,
.sidebar-active a:hover {
  color: #fefefe !important;
  background: url('../Images/nav-bg.png') !important;
  cursor: default;
}
.admin-edit table {
  width: 100%;
  margin: 10px;
  vertical-align: middle !important;
}
.admin-edit table tr {
  line-height: 30px;
}
.admin-edit table tr td {
  width: 20%;
  vertical-align: top;
}
.admin-edit table tr td input[type=text],
.admin-edit table tr td input[type=password],
.admin-edit table tr td select {
  padding: 4px;
  width: 200px;
}
.admin-edit table tr td textarea {
  width: 100%;
  resize: vertical;
  height: 100px;
}
.admin-edit a {
  color: black;
}
.admin-edit .avatar {
  margin: 10px;
}
.admin-edit .avatar > div {
  margin-right: 10px;
}
.admin-edit .avatar > div img {
  height: 80px;
  width: 80px;
}
.admin-edit .avatar .action-buttons {
  float: left;
}
.admin-edit .avatar .action-buttons :first-child {
  margin-top: 25px;
}
.admin-edit .audio {
  margin: 10px;
}
.admin-edit .audio .action-buttons > div {
  display: inline;
}
.item-removed {
  text-decoration: line-through;
}
.user-reviews .grid-img1 img {
  cursor: pointer;
}
.pager {
  text-align: center;
}
.pager li {
  display: inline-block;
  background-color: #f8f8f8;
  margin: 3px;
}
.pager li a,
.pager li span {
  display: block;
  padding: 10px;
  min-width: 24px;
  text-align: center;
}
.pager li a {
  color: black;
}
.pager li span {
  color: grey;
}
.pager .disabled a {
  cursor: default;
  color: gray;
}
.admin-table {
  margin: 10px;
  border-collapse: collapse;
}
.admin-table th {
  background-color: #b0b0b0;
  text-align: left;
  height: 25px;
}
.admin-table th:first-child,
.admin-table td:first-child {
  padding-left: 5px;
}
.admin-table th:last-child,
.admin-table td:last-child {
  padding-right: 5px;
}
.admin-table th,
.admin-table td {
  padding: 0 2px;
}
.admin-table a {
  color: black;
}
.admin-table .sort-asc:after {
  content: "\2193";
}
.admin-table .sort-desc:after {
  content: "\2191";
}
.admin-content {
  width: 80%;
  margin: 0;
}
.admin-buttons {
  margin: 20px;
}
.loading-animation {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.loading-animation .cs-loader-inner {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  box-sizing: border-box;
  color: #10696e;
}
.loading-animation .cs-loader-inner label {
  color: #10696e;
  text-align: right;
  font-size: 17pt;
  display: inline-block;
  opacity: 0;
}
.loading-animation .cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  -moz-animation: lol 3s infinite ease-in-out;
  -o-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}
.loading-animation .cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  -moz-animation: lol 3s 100ms infinite ease-in-out;
  -o-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}
.loading-animation .cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  -moz-animation: lol 3s 200ms infinite ease-in-out;
  -o-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}
.loading-animation .cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  -moz-animation: lol 3s 300ms infinite ease-in-out;
  -o-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}
.loading-animation .cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  -moz-animation: lol 3s 400ms infinite ease-in-out;
  -o-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}
.loading-animation .cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  -moz-animation: lol 3s 500ms infinite ease-in-out;
  -o-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
@-moz-keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300%);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300%);
  }
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300%);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300%);
  }
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
  }
}